@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jockey+One&family=Poetsen+One&family=Quicksand:wght@300..700&family=Sacramento&family=Tilt+Warp&display=swap');
html,
body{
    height: 100%;
    background-color: rgb(253, 235, 212);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
        width: 100%;
    max-height: 300px; /* Set a reasonable height */
    overflow-y: auto;
    padding: 0;
    margin: 0;

}

#time{
    color: rgb(0, 0, 0);
    margin-left: 8px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 54px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    align-items: center;
    justify-items: center;
}

#day {
font-family: "Tilt Warp", sans-serif;
font-optical-sizing: auto;
font-size: 18px;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "XROT" 0,
    "YROT" 0;
        align-items: center;
    justify-items: center;
}

#good {
    font-family: "Tilt Warp", sans-serif;
    font-size: 34px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgb(254, 218, 172);
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 20px;
width: 440px;
min-height: 240px;
flex-direction: column;
margin-bottom: 200px;
max-height: 540px;
position: relative;
overflow-y: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.todoClass {
    font-weight: bolder;
    font-family: cursive;
    font-size: larger;
font-family: "Tilt Warp", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    position: absolute;
    bottom: 195px;
    left: 190px;

}

.input {
height: 30px;
width: 340px;
margin-top: 20px;
border-radius: 8px;
font-weight: bold;
position: absolute;
bottom: 140px;
}

.btn {
margin-top: 8px;
height: 30px;
width: 240px;
border-radius: 8px;
font-weight: bolder;
cursor: pointer;
    background-color: rgb(253, 235, 212);
    position: absolute;
}

.btn:hover {
box-shadow: 0 8px 16px 0 rgb(255, 234, 206);
}

ul li{
    position: absolute;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    top: 480px;
    left: 220px;
}

ul li ::before{
    content: '';
    position: absolute;
    height: 58px;
    width: 58px;
    background-image: url(images/off-lever.png);
    background-size: cover;
    top: 1px;
    left: 1px;
}

ul li .checked{
    color: #555;
    text-decoration: line-through;
}

ul li .checked::before{
        background-image: url(images/on-lever.png);
}

ul li span {
    position: absolute;
    right: 2px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    left: 280px;
}

ul li span:hover{
    background: 
#edeef0;
}

.reset-btn {
    content: '';
    background-image: url(images/reset.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    cursor: pointer;
    position: absolute;
    left: 22px;
    bottom: 22px;
}